{% trans_default_domain 'NIPAUserBundle' %}

{% block nipa_users_div %}
    
    <!-- Container table filter -->
    <div class="col-md-12">
        
        <!-- BOUTON ADD -->          
        <div class="btn-toolbar">
            <button class="btn btn-success" onclick="window.location.href='#'"><i class="glyphicon glyphicon-plus-sign"></i> Nouveau projet</button>
        </div>
        <br>   
        
        <!-- PANEL -->  
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Projets</h3>
                <div class="pull-right">
                    <span class="clickable filter" data-toggle="tooltip" title="Filtre" data-container="body">
                        <i class="glyphicon glyphicon-filter"></i>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" id="projets-table-filter" data-action="filter" data-filters="#projets-table" placeholder="Filtres projet" />
            </div>
            <table class="table table-hover" id="projets-table">
                <thead>
                    <tr>
                        <th>Projet   </th>
                        <th>Public</th>
                        <th>Crée le</th>
                        <th>Archiver</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>NIPA</td>
                        <td><i class="glyphicon glyphicon-ok icon-ok"></i></td>                        
                        <td>04/09/2015</td>
                        <td><i class="glyphicon glyphicon-lock icon-archive"></i></td>                        
                        <td><i class="glyphicon glyphicon-trash icon-trash"></i></td>                        
                    </tr>
                    <tr>
                        <td>ENVIRONNEMENT</td>
                        <td><i class="glyphicon glyphicon-ok icon-ok"></i></td>                        
                        <td>12/10/2015</td>
                        <td><i class="glyphicon glyphicon-lock icon-archive"></i></td>                        
                        <td><i class="glyphicon glyphicon-trash icon-trash"></i></td>                      
                    </tr>
                    <tr>
                        <td>RUN 1</td>
                        <td><i class="glyphicon glyphicon-ok icon-ok"></i></td>                        
                        <td>22/09/2015</td>
                        <td><i class="glyphicon glyphicon-lock icon-archive"></i></td>                        
                        <td><i class="glyphicon glyphicon-trash icon-trash"></i></td>  
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- PAGINATION -->  
        <nav>
         <ul class="pagination">
           <li class="disabled">
             <a href="#" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
               <span class="sr-only">Previous</span>
             </a>
           </li>
           <li class="active">
             <a href="#">1 <span class="sr-only">(current)</span></a>
           </li>
           <li><a href="#">2</a></li>
           <li><a href="#">3</a></li>
           <li>
             <a href="#" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
               <span class="sr-only">Next</span>
             </a>
           </li>
         </ul>
        </nav>
    </div>
    
{% endblock nipa_users_div %}