{% trans_default_domain 'NIPAProjetBundle' %}
		
{% block body %}
     
    <!-- BOUTON ADD -->  
    <center>
        <div class="btn-toolbar">
            <a data-toggle="modal" title="Créer une Demande" class="btn btn-success" href="{{ path('demande_new') }}"><i class="glyphicon glyphicon-plus-sign"></i> Nouvelle Demande</a>
            <a data-toggle="modal" title="Ajouter filtres" class="btn btn-info" href="#ModalAddUsers"><i class="glyphicon glyphicon-filter"></i> Filtres</a>        
        </div>
    </center>
    
    <br><br>   
    
    <div id="jstreedemande">  
        
      <ul id="treeProjet">
          <li class="jstree-open"><a href="#">Portfeuilles</a>
              <ul>   

                  <li class="jstree-open"><a href="#">IPP 2015</a>
                      <ul>

                          <li class="jstree-open"><a href="#" class="jstree-clicked">Demandes</a>
                              <ul>
                                  <li><a href="#">MC-0001</a></li>
                                  <li><a href="#">MC-0002</a>
                                      <ul>
                                          <li><a href="#">Projet: MC-0002-1</a></li>
                                          <li><a href="#">Projet: MC-0002-2</a></li>
                                      </ul>
                                  </li>
                                  <li>MC-0003</li>
                              </ul>
                          </li>

                      </ul>
                  </li>

                  <li class="jstree-open"><a href="#">IPP 2016</a>
                      <ul>

                          <li class="jstree-open"><a href="#">Demandes</a>
                              <ul>
                                  <li><a href="#">MC-0001</a></li>
                                  <li><a href="#">MC-0002</a>
                                      <ul>
                                          <li><a href="#">Projet: MC-0002-1</a></li>
                                          <li><a href="#">Projet: MC-0002-2</a></li>
                                      </ul>
                                  </li>
                                  <li>MC-0003</li>
                              </ul>
                          </li>

                      </ul>
                  </li>

               </ul>   
          </li>
      </ul>               

    </div>

    <!-- <button>demo button</button> -->

    <script>
        //$('#treeProjet').treed({openedClass : 'glyphicon-folder-open', closedClass : 'glyphicon-folder-close'});    
    </script>

    <script>
    $(function () {
      // 6 create an instance when the DOM is ready
      $('#jstreedemande').jstree();
      
      // 7 bind to events triggered on the tree
      $('#jstreedemande').on("changed.jstree", function (e, data) {
        console.log(data.selected);
      });
      
      // 8 interact with the tree - either way is OK
      $('button').on('click', function () {
        $('#jstreedemande').jstree(true).select_node('child_node_1');
        $('#jstreedemande').jstree('select_node', 'child_node_1');
        $.jstree.reference('#jstreedemande').select_node('child_node_1');
      });
    });
    </script>    
{% endblock %}