{% extends "NIPAUserBundle::layoutNIPA.html.twig" %}

{% block nipa_user_content %}
    <h1>{{ groupe.id }} | {{ groupe.Nom }}</h1>
    <a href="{{ path("accueil") }}">Retour à l'accueil</a>
{% endblock nipa_user_content%}