{% trans_default_domain 'NIPAProjetBundle' %}
		
{% block body %}
     
        <div id="jstree">                
          <ul id="treeProjet">
              <li class="jstree-open"><a href="#">Portfeuilles</a>
                  <ul>   

                      <li class="jstree-open"><a href="#">IPP 2015</a>
                          <ul>

                              <li class="jstree-open"><a href="#">Demandes</a>
                                  <ul>
                                      <li class="jstree-open"><a href="#">MC-0001</a></li>
                                      <li class="jstree-open"><a href="#">MC-0002</a>
                                          <ul>
                                              <li class="jstree-open"><a href="#" class="jstree-clicked">Projet: MC-0002-1</a></li>
                                              <li class="jstree-open"><a href="#">Projet: MC-0002-2</a></li>
                                          </ul>
                                      </li>
                                      <li class="jstree-open">MC-0003</li>
                                  </ul>
                              </li>

                          </ul>
                      </li>

                      <li class="jstree-open"><a href="#">IPP 2016</a>
                          <ul>

                              <li class="jstree-open"><a href="#">Demandes</a>
                                  <ul>
                                      <li class="jstree-open"><a href="#">MC-0001</a></li>
                                      <li class="jstree-open"><a href="#">MC-0002</a>
                                          <ul>
                                              <li class="jstree-open"><a href="#" >Projet: MC-0002-1</a></li>
                                              <li class="jstree-open"><a href="#">Projet: MC-0002-2</a></li>
                                          </ul>
                                      </li>
                                      <li class="jstree-open">MC-0003</li>
                                  </ul>
                              </li>

                          </ul>
                      </li>

                   </ul>   
              </li>
          </ul>               

        </div>

        <button>demo button</button>

    
    <script>
        //$('#treeProjet').treed({openedClass : 'glyphicon-folder-open', closedClass : 'glyphicon-folder-close'});    
    </script>

    <script>
    $(function () {
      // 6 create an instance when the DOM is ready
      $('#jstree').jstree();
      
      // 7 bind to events triggered on the tree
      $('#jstree').on("changed.jstree", function (e, data) {
        console.log(data.selected);
      });
      
      // 8 interact with the tree - either way is OK
      $('button').on('click', function () {
        $('#jstree').jstree(true).select_node('child_node_1');
        $('#jstree').jstree('select_node', 'child_node_1');
        $.jstree.reference('#jstree').select_node('child_node_1');
      });
    });
    </script>    
{% endblock %}